
#test {
	color: yellowgreen;
	background-color: black;
	padding: 75px;
	margin: 15px;
	border: :7px solid grey;
	border-radius: 100px;
	opacity: 1;
text-align: center;
	
	


}
body{

background-image: url(Sight_2018_03_30_190533_802.jpg);
}
#test:hover{

	box-shadow: 3px 3px 7px blue;
}
#test:hover{text-align: right;
}
